<!-- Sidebar -->
<nav id="sidebar">
    <!-- Sidebar Scroll Container -->
    <div id="sidebar-scroll">
        <!-- Sidebar Content -->
        <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
        <div class="sidebar-content">
            <!-- Side Header -->
            <div class="side-header side-content bg-white-op">
                <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout"
                        data-action="sidebar_close">
                    <i class="fa fa-times"></i>
                </button>
                <a class="h5 text-white" href="/">
                    <span class="font-w600 h4 text-primary-lighter sidebar-mini-hide">HTWG</span> <span
                            class="h4 font-w600 sidebar-mini-hide">Campus</span>
                </a>
            </div>
            <!-- END Side Header -->

            <!-- Side Content -->
            <div class="side-content side-content-full">
                <ul class="nav-main">
                    <li>
                        <a <% if(page === 'dashboard'){ %>class="active" <% } %>href="/"><i
                                    class="si si-speedometer"></i><span class="sidebar-mini-hide">Dashboard</span></a>
                    </li>
                    <li class="nav-main-heading"><span class="sidebar-mini-hide">News management</span></li>
                    <li>
                        <a <% if(page === 'news'){ %>class="active" <% } %>href="/news"><i
                                    class="fa fa-bullhorn"></i><span class="sidebar-mini-hide">News</span></a>
                    </li>
                    <li class="nav-main-heading"><span class="sidebar-mini-hide">User management</span></li>
                    <li>
                        <a href="/user"><i class="fa fa-user"></i><span class="sidebar-mini-hide">User</span></a>
                    </li>
                </ul>
            </div>
            <!-- END Side Content -->
        </div>
        <!-- Sidebar Content -->
    </div>
    <!-- END Sidebar Scroll Container -->
</nav>
<!-- END Sidebar -->
