<div id="page-container" class="">
    <!-- Main Container -->
    <main id="main-container" style="background-color: #334152;">
        <!-- Page Content -->
        <div class="content" style="background-color: #334152;">
            <!-- My Block -->
            <div class="row">
                <div class="block col-md-6 col-md-offset-2" style="background-color: #334152;">
                    <div class="block-content" style="background-color: #334152;">
                        <table>
                            <tbody>
                            <tr>
                                <td><img src="/images/dashboard.png" width="489ex" height="800ex"></td>
                                <td align="center">
                                    <img src="/images/logoCampus.png" width="365ex" height="365ex">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td><img src="/images/apple-appstore-badge.svg"
                                                     style="margin: 6%" width="240ex"></td>
                                            <td><img width="300ex" src="/images/google-play-badge.png"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END My Block -->
        </div>
        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->
    <footer id="page-footer" class="content-mini content-mini-full font-s12 clearfix">
        <div class="pull-right" style="color: white">
            Entwickelt mit <i class="fa fa-heart text-city" style="color: red;"></i> und <i class="fa fa-coffee"></i>
        </div>
        <div class="pull-left" style="color: white">
            <a class="font-w600" href="http://goo.gl/6LF10W" target="_blank" style="color: white">HTWG <span
                        style="color: #009B91">Campus</span></a> © <span class="js-year-copy">2018</span>
            |
            <a class="font-w600" style="color: #009B91" href="/">Impressum</a>
            |
            <a class="font-w600" style="color: #009B91" href="/">Datenschutzerkl&auml;rung</a>
        </div>
    </footer>
</div>
<!-- END Page Container -->
