<div id="page-container" class="">
    <!-- Main Container -->
    <main id="main-container" style="background-color: #334152;">
        <!-- Page Content -->
        <div class="content" style="">
            <!-- My Block -->
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                    <div class="block block-themed animated fadeIn">
                        <div class="block-content block-content-full block-content-narrow">
                            <h1 class="h2 font-w600 push-30-t push-5">Impressum</h1>
                            <b>Hochschule Konstanz Technik, Wirtschaft und Gestaltung
                                University of Applied Sciences</b><br><br>

                            <b>Anschrift</b><br>
                            <p>Alfred-Wachtel-Straße 8<br>
                                D-78462 Konstanz</p>

                            <b>Postfach</b>
                            <p>100 543<br>
                                D-78405 Konstanz<br><br>

                                Telefon +49 7531 206 0<br>
                                E-Mail kontakt@htwg-konstanz.de</p>

                            <b>Gesamtverantwortung</b><br>
                            <p>Die Hochschule Konstanz ist eine K&ouml;rperschaft des &ouml;ffentlichen Rechts und
                                staatliche Einrichtung zugleich. Sie wird durch den Pr&auml;sidenten Prof. Dr. Carsten
                                Manz gesetzlich vertreten.</p>

                            <b>Umsatzsteuer- Identifikationsnummer</b>
                            <p>DE 811455044</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END My Block -->
        </div>
        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->
    <footer id="page-footer" class="content-mini content-mini-full font-s12 clearfix">
        <div class="pull-right" style="color: white">
            Entwickelt mit <i class="fa fa-heart text-city" style="color: red;"></i> und <i class="fa fa-coffee"></i>
        </div>
        <div class="pull-left" style="color: white">
            <a class="font-w600" href="https://app.asta.htwg-konstanz.de" target="_blank" style="color: white">HTWG
                <span
                        style="color: #009B91">Campus</span></a> &copy; <span class="js-year-copy">2018</span>
            |
            <a class="font-w600" style="color: #009B91" href="/impressum">Impressum</a>
            |
            <a class="font-w600" style="color: #009B91" href="/Datenschutzerklärung_HTWG_Campus.pdf">Datenschutzerkl&auml;rung</a>
            |
            <a class="font-w600" style="color: #009B91" href="/contact">Kontakt</a>
        </div>
    </footer>
</div>
<!-- END Page Container -->
