<div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
    <% include ./modules/navigation.ejs %>
    <% include ./modules/header.ejs %>
    <main id="main-container">
        <div class="content">

        </div>

    </main>

    <% include ./modules/footer.ejs %>
</div>
